<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>DEC-LLC (Diwan Enterprise Consulting LLC)</vendor>
  <vendor_url>https://github.com/mvdiwan/tailscale-Multi-platfrom-User-GUI</vendor_url>
  <action id="com.dec-llc.tmug.set-operator">
    <message>Authentication is required to configure tMUG as your Tailscale manager</message>
    <icon_name>network-vpn</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/tailscale</annotate>
  </action>
</policyconfig>
