[Desktop Entry]
Name=tMUG
Comment=tMUG - Tailscale Multi-platform User GUI
Exec=/usr/local/bin/tailscale-manager
Icon=tailscale
Terminal=false
Type=Application
Categories=Network;VPN;Settings;
Keywords=tailscale;vpn;wireguard;network;
StartupNotify=false
